/*StyleSheet*/

body {
    font: 21px sans-serif;
    /*padding: 2em;*/
    margin: 0;
    margin-top: 60px;
    background: url("cloud_background.png") no-repeat center center fixed;
    /*background-color: peachpuff;*/
    background-size: cover;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-repeat: no-repeat;
    opacity: 0.7;
    /*min-height: 100%;
  	min-width: 1024px;	
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;*/
}

form {
    text-align: left;
    position: relative;
    width: 820px;
    height: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7px;
}

h1 {
    font-size: 50px;
    /*position : absolute;
  	left : 320px;
  	top  : 85px;*/
    font: sans-serif;
    text-align: center;
}

#btnReturn {
    position: absolute;
    margin-left: 300px;
    color: black;
    font-weight: bold;
}

.button {
    position: absolute;
    margin-left: 340px;
    color: black;
    font-weight: bold;
}

#para {
    font-size: 30px;
    position: relative;
    width: 740px;
    height: 800px;
    margin: 0 auto;
    background: white;
}

#div {
    font-size: 30px;
    position: relative;
    width: 740px;
    height: 800px;
    margin: 0 auto;
    background: white;
}

#store {
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

#bookId {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 15px;
}

#user {
    position: absolute;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 70px;
}

#userName {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 65px;
}

#email {
    position: absolute;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 40px;
}

#emailAddress {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 115px;
}

#password {
    position: absolute;
    font-size: 20px;
    margin-top: 175px;
    margin-left: 40px;
}

#pass {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 165px;
}

#confirm {
    position: absolute;
    font-size: 20px;
    margin-top: 225px;
    margin-left: 40px;
}

#confirmPass {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 215px;
}

input {
    float: none;
}

#btnSubmit {
    align-content: center;
    margin-top: 330px;
    width: 140px;
    height: 40px;
    font-size: 25px;

}
/*#para {
	border: 1px solid #DF8081;
	padding: 30px;
	margin-left: 237px;
	margin-right: 237px;
	margin-top: 10px;
	background: white;
}*/

/*Levels Styles*/

.level {
    border:whitesmoke solid 3px;
    background-color:peachpuff; 
    text-align:center;
    height:100px;
    font-size: 60px;
    padding: 60px;
}

.level:hover {
    background-color: teal;
    cursor: pointer;
}

.locked {
    background-color: grey;
    /*pointer-events: disable;*/
}

.locked:hover {
    cursor: not-allowed;
    background-color: grey;
}


.subBtn {
    text-align: center;
}

/*Home information*/
.info-home {
    border:whitesmoke solid 3px;
    background-color:teal; 
    text-align:center;
    height:100px;
    font-size: 60px;
    margin-top: 400px;
    /*padding: 60px;*/
}

.character {
    text-align: center;
}

.info-about {
    border-radius: 25px;
    background: #d4eff9;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color:black;
    opacity: 0.7px;
    padding: 20px; 
    /*width: 200px;
    height: 150px;*/ 
    margin-top: 40px;
    margin-right: 75px;
    margin-left: 75px;
    font-size: 50px;
}

/*.info-about img {
    width: 100%;
    height: auto;
}*/

/* Navbar */

.container-fluid {
    background: #99c635;
    height: 80px;;
}

/*.glyphicon-home:before {
    color:red;
}*/

.glyphicon-home::after{
    color:yellow;
}