/*StyleSheet*/


/*---Custom Font---*/


/*@font-face {
    font-family: logoFont;
    src: url(Wicked_Mouse_Demo.otf);
    font-weight: bold;
}*/


/* Background blue = #81dbfe */

.main {
    background-color: white;
    border-radius: 25px;
    border: palevioletred 2px dotted;
}

body {
    background-image: url(../images/Background_1.png);
    /*background-position: center center;*/
    /* Opera */
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #999;*/
    -webkit-background-size: cover;
    /* For WebKit */
    -moz-background-size: cover;
    /* Mozilla */
    -o-background-size: cover;
}

.jumbotron {
    margin-top: 200px;
}


/*form {
    text-align: left;
    position: relative;
    padding: 30px;
    width: 800px;
    height: 360px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7;
}*/

.loginBack {
    text-align: left;
    position: relative;
    padding: 30px;
    width: 800px;
    height: 280px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7;
}

.signupBack {
    text-align: left;
    position: relative;
    padding: 30px;
    width: 800px;
    height: 520px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.activeBack {
    text-align: left;
    position: relative;
    padding: 30px;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7;
    margin-bottom: 120px;
}

.errorBack {
    /*text-align: center;*/
    position: relative;
    padding: 30px;
    width: 800px;
    height: 320px;
    margin: 0 auto;
    background: white;
    border-radius: 25px;
    opacity: 0.7;
    margin-bottom: 10px;
    margin-top: 100px;
}

.form-control {
    height: 60px;
    font-size: 28px;
    border: 3px solid #555;
}

h1 {
    font-size: 50px;
    /*position : absolute;
  	left : 320px;
  	top  : 85px;*/
    font: sans-serif;
    /*text-align: center;*/
}

#btnReturn {
    position: absolute;
    margin-left: 300px;
    color: black;
    font-weight: bold;
}

.button {
    /*position: absolute;*/
    left: 50%;
    display: block;
    margin: 0 auto;
    /*margin-left: 340px;*/
    color: black;
    font-weight: bold;
}

#para {
    font-size: 30px;
    position: relative;
    width: 740px;
    height: 800px;
    margin: 0 auto;
    background: white;
}

#div {
    font-size: 30px;
    position: relative;
    width: 740px;
    height: 800px;
    margin: 0 auto;
    background: white;
}

#store {
    position: absolute;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

#bookId {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 15px;
}

#user {
    position: absolute;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 70px;
}

#userName {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 65px;
}


/*#email {
    position: absolute;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 40px;
}*/

#emailAddress {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 115px;
}


/*#password {
    position: absolute;
    font-size: 20px;
    margin-top: 175px;
    margin-left: 40px;
}*/

#pass {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 165px;
}

#confirm {
    position: absolute;
    font-size: 20px;
    margin-top: 225px;
    margin-left: 40px;
}

#confirmPass {
    position: absolute;
    font-size: 35px;
    left: 300px;
    top: 215px;
}

input {
    float: none;
}

.btn {
    padding: 2px 12px;
}

#btnLogin {
    align-content: center;
    margin-top: 50px;
    width: 140px;
    height: 40px;
    font-size: 25px;
    background-color: azure;
}

#btnLogin:hover {
    background-color: aquamarine;
}

#btnSignUp {
    align-content: center;
    margin-top: 50px;
    width: 140px;
    height: 40px;
    font-size: 25px;
    background-color: azure;
}

#btnSignUp:hover {
    background-color: aquamarine;
}

#btnLogout {
    align-content: center;
    margin-top: 50px;
    width: 140px;
    height: 40px;
    font-size: 25px;
    background-color: azure;
}

#btnLogout:hover {
    background-color: aquamarine;
}


/*#para {
	border: 1px solid #DF8081;
	padding: 30px;
	margin-left: 237px;
	margin-right: 237px;
	margin-top: 10px;
	background: white;
}*/


/*activities Styles*/

.activityList {
    margin-bottom: 120px;
}

.activity {
    border: whitesmoke solid 3px;
    background-color: peachpuff;
    /*text-align: center;*/
    height: 100px;
    font-size: 30px;
    padding: 60px;
}

.activity:hover {
    background-color: teal;
    cursor: pointer;
}

.activityImg {
    margin-right: 20px;
}

.locked {
    background-color: grey;
    /*pointer-events: disable;*/
}

.locked:hover {
    cursor: not-allowed;
    background-color: grey;
}

.subBtn {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 150px;
}


/*Home information*/

.info-home {
    border: whitesmoke solid 3px;
    background-color: #ffffff;
    /*text-align: center;*/
    height: 100px;
    font-size: 60px;
    margin-top: 400px;
    /*padding: 60px;*/
}

.logoTop {
    /*font-family: logoFont;*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110px;
    color: #b2dff9;
    letter-spacing: 1px;
    float: left;
    /*font-size: 650px;*/
    margin-top: 100px;
    margin-left: 120px;
}

.character {
    text-align: center;
}

.info-about {
    border-radius: 30px;
    background: #81cbec;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: black;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 200px;
    height: 150px;*/
    /*margin-top: 200px;*/
    margin-right: 100px;
    margin-left: 100px;
    font-size: 50px;
    /*text-align: center;*/
}

.inside-about {
    border-radius: 0px 0px 25px 25px;
    background: lavender;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: black;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 200px;
    height: 150px;*/
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
    /*text-align: center;*/
}

.landing-about {
    border-radius: 0px 0px 25px 25px;
    /*background: lavender;*/
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: #81cbec;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 200px;
        height: 150px;
        margin-top: 80px;*/
    margin-right: 290px;
    /*margin-left: 80px;*/
    font-size: 50px;
    text-align: center;
}

.main-about {
    border-radius: 0px 0px 25px 25px;
    /*background: lavender;*/
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: black;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 200px;
    height: 150px;
    margin-top: 80px;*/
    margin-right: 290px;
    /*margin-left: 80px;*/
    font-size: 50px;
    /*text-align: center;*/
}

.activity-about {
    /*border-radius: 0px 0px 25px 25px;*/
    border-radius: 25px;
    background: #9de659;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: black;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 260px;*/
    height: 470px;
    /*margin-top: 200px;*/
    margin-right: auto;
    margin-left: auto;
    /*float:right;*/
    font-size: 50px;
    /*text-align: center;*/
}

.netty-about {
    border-radius: 25px;
    background: #9de659;
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
    color: black;
    /*opacity: 0.7;*/
    padding: 20px;
    /*width: 260px;*/
    height: 470px;
    /*margin-top: 20px;*/
    margin-right: auto;
    margin-left: auto;
    /*float:right;*/
    font-size: 50px;
    /*text-align: center;*/
}


/*.info-about img {
    width: 100%;
    height: auto;
}*/


/* Navbar */

.navBar {
    background: #81cbec;
    height: 100px;
    /*border: dotted 2px white;*/
}

.navbar-default {
    border-color: #81cbec;
}

.home::before,
.info::before {
    /*color: #fff66c;*/
    color: white;
    font-size: 65px;
    margin-left: 60px;
    margin-right: 100px;
}

.login::before,
.user::before {
    /*color: #fff66c;*/
    color: white;
    font-size: 65px;
    margin-left: 60px;
    margin-right: 60px;
}

.inputs {
    font-size: 40px;
}


/*----------Match activity----------*/


/*body {
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}*/

h1,
h2,
h3,
h4 {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#content {
    /*margin: 80px 70px;*/
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}


/* Winner message */

#win {
    position: absolute;
    left: 650px;
    top: 550px;
    width: 400;
    height: 100;
    z-index: 100;
    background: green;
    border: 2px solid #333;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}


/*#win h2 {
	width: 400px;
	color: white;
	margin-top:280px;
	position:absolute;
	text-align:center;
	margin: 0 0 25px 0; 
	padding: 0 0 10px 0; 
	font-weight: bold; 
	border-bottom: 
	3px solid #443022; 
	display: block; 
	font-size: 16px; 
}*/

button {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    color: green;
    width: 100px;
    height: 30px;
    font-size: 18px;
}

.wideBox {
    clear: both;
    text-align: left;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    /*border: 1px solid #333;*/
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

#cardPlace {
    margin: 50px auto 0 auto;
    background: skyblue;
}


/* ------ */

#div1 {
    width: 350px;
    height: 170px;
    padding: 10px;
    background-color: grey;
    /*border: 1px solid #aaaaaa;*/
}


/* The initial pile of unsorted cards */

#deck {
    margin: 0 auto;
    background: purple
}

#cardPlace,
#deck {
    width: 580px;
    height: 250px;
    padding: 10px;
    border: 2px dotted white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}


/* Individual cards and places */

#cardPlace div,
#deck div {
    float: left;
    width: 100px;
    height: 78px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 0px;
    background: pink;
}

#cardPlace div:first-child,
#deck div:first-child {
    margin-left: 0;
}

#cardPlace div.hovered {
    background: green;
}

#cardPlace div {
    border-style: dashed;
}

#deck div {
    background: green;
    color: pink;
    font-size: 40px;
    text-shadow: 0 0 3px black;
}

#deck div.ui-draggable-dragging {
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}


/* Individually coloured cards */

#card1.correct {
    background: red;
}

#card2.correct {
    background: orange;
}

#card3.correct {
    background: yellow;
}

#card4.correct {
    background: lightgreen;
}

#card5.correct {
    background: green;
}

#card6.correct {
    background: blue;
}

#card7.correct {
    background: cyan;
}

#card8.correct {
    background: violet;
}

#card9.correct {
    background: purple;
}

#card10.correct {
    background: indigo;
}


/* -- Stranger Danger Activity -- */

.activityFont {
    font-size: 25px;
}

.interact {
    background-color: blueviolet;
}

.meet {
    background-color: green;
}

.mask {
    background-color: tomato;
}

#true, #false {
    display:inline-block;
}

/* -- The Internet Information -- */

.internet {
    background-color: indianred;
}

@media (min-width: 768px) {
    .modal-sm {
        width: 700px;
    }
}